/*color varibles*/
$primary-color: #ff6060;
$gray-color: #f6f6f6;
$white-color: white;
$black-color: black;
$gradient-color: yellowgreen;

/*font variables */
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;

/* Taille de média*/
$smartphone: 947px;
$desktop: 1440px;
