@use "_variables";
@use "_mixins";
@use "_keyframes";
@use "common.scss";

/**
 * Conteneur principal du graphique radial.
 * Définit la taille de la carte, son fond et son arrondi.
 */

.radialgraphchart {
  position: relative;
  width: 258px;
  height: 263px;
  border-radius: 5px;
  background-color: #fbfbfb;

  /**
   * Titre du graphique radial.
   * Positionné en absolu dans le coin supérieur gauche.
   */

  &__title {
    position: absolute;
    left: 30px;
    top: 24px;
    font-size: 15px;
    font-weight: variables.$medium;
    line-height: 24px;
    color: #20253a;
  }
}

/**
 * Bloc central affichant le score utilisateur.
 * Positionné au centre du graphique avec translate.
 */

.score {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 159.38px;
  height: 159.38px;
  border-radius: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;

  /**
   * Valeur numérique du score.
   */
  &__value {
    font-size: 26px;
    font-weight: variables.$bold;
    line-height: 26px;
    color: #282d30;
  }

  /**
   * Texte descriptif affiché sous la valeur.
   */
  &__text {
    font-size: 16px;
    color: black;
    text-align: center;
    font-weight: variables.$medium;
    line-height: 26px;
    margin: 0;
  }
}

/**
 * Cercle blanc interne placé sous le texte du score.
 * Sert de fond pour créer l'effet visuel du graphique radial.
 */
.innerCircle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 160px;
  height: 160px;
  background: white;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
