@use "./variables";
@use "./common.scss";
/**
 * Block : Header
 * Conteneur principal du haut de page.
 */
.sidebar {
  grid-area: aside;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 940px;
  gap: 164px;
  @media (max-width: 1024px) {
    height: 695px;
  }

  background-color: variables.$black-color;

  /**
   * Élément : navigation principale
   */
  &__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 256px;
    @media (max-width: 1024px) {
      margin-top: 176px;
      gap: 10px;
    }
  }
  /**
   * Élément : logo
   */
  &__copyright {
    position: absolute;
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: variables.$medium;
    color: variables.$white-color;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    width: 24px;
    height: max-content;
    left: 42px;
    bottom: 66px;
    @media (max-width: 1024px) {
      bottom: 35px;
      left: 32px;
    }
    margin: 0;
  }
}
